/inject
**/roms/*
**/c/*.o
armips*
**/__pycache__/*
!.gitkeep

# Ignore build files
build/*.o
build/*.txt
build/generated/*.bin
build/generated/*.json
build/generated/*.txt

# Ignore private vagrant directory
.vagrant*

# Ignore contents of "output" except for .gitkeep
output/*
!output/.gitkeep

# Ignore n64 directory, optionally included so that VSCode can resolve headers such as: <n64.h>
n64/

# Ignore Randomizer settings file
settings.json

# Ignore ROM files
*.z64
*.n64
