/inject
**/roms/*
**/c/*.o
armips*
**/__pycache__/*
!.gitkeep

# Ignore build files
build/*.o
build/*.txt
data/generated/*.bin
data/generated/*.json
data/generated/*.txt

# Ignore private vagrant directory
.vagrant*

# Ignore contents of "input" and "output" except for .gitkeep
input/*
output/*
!input/.gitkeep
!output/.gitkeep

# Ignore n64 directory, optionally included so that VSCode can resolve headers such as: <n64.h>
n64/

# Ignore Randomizer settings file
settings.json

# Ignore ROM files
*.z64
*.n64
